#container {
  width: 988px;
  height: 200px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}

/* #bar {
  width: 19.24px;
  height: 90%;
  background-color: green;
  margin-right: 3px;
  margin-left: 3px;
} */
